{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>service</title>
</head>
<body>
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'common/page.css' %}">
    <link rel="stylesheet" href="{% static 'serv/serv.css' %}">
    <div class="content">
        <div class="tit">
            <h1>오늘 당신의 푸드메이트를 찾아보세요!</h1>
        </div>
        <div class="first">
            <h1 class="sub-tit">*푸드 메이트란?</h1>
            <h3>푸드메이트는 당신이 먹고 싶은 음식을 같이 주문할 수 있는 서비스 사용자 입니다.</h3>
            <h3>푸드메이트와 같이 음식을 주문 한다면 최소주문금액 및 배달비 등에서 경제적 일 수 있습니다.</h3>
            <h3>푸드메이트는 푸드맵이나 상단에 있는 검색창을 통해 찾아볼 수 있습니다.</h3>
        </div>
        <div class="second">
            <h1 class="sub-tit">*푸드맵이란?</h1>
            <h3>푸드맵은 현재 사용자의 주변에 푸드메이트를 찾는 여러 사용자들의 위치를 보여줍니다.</h3>
            <h3>또한 푸드맵은 해당 푸드메이트들이 주문하려는 음식을 지도에서 나타내어 사용자가 그것을 고를 수 있게 합니다.</h3>
            <h3>푸드맵에서 제공되는 채팅기능을 통해 사용자들간 상세주문을 정할 수 있습니다.</h3>
        </div>
    </div> 
{% endblock %}
</body>
</html>